{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head_title %}| Welcome{% endblock %}

{% block content %}


<!--title-->
<div class="row">
        <h1>{{ title }}</h1>
    <br>
</div>





<div class="row">
    <div>
        {% crispy filter.form filter.helper %}
    </div>
</div>

<div class="row">
    <br>
</div>

<div class="row">
    <form action="" method="post">{% csrf_token %}
        <!--check all boxes script-->
        <div class="col-sm-12">
            <script language="JavaScript">
                function toggle(source) {
                    checkboxes = document.getElementsByName('selection');
                    for(var i in checkboxes)
                    checkboxes[i].checked = source.checked;
                    }
            </script>

            {% render_table table %}
        </div>
       <div class="form-group">
            <div class="col-xs-6 col-md-6">
                <input type="submit" name="edit_btn" formaction="{% url 'sample:edit' %}" class="btn btn-primary" value="Edit"/>
                <input type="submit" name="archive_btn" formaction="#" class="btn btn-primary" disabled value="Store"/>
                <input type="submit" name="process_btn" formaction="{% url 'library:add' %}" class="btn btn-primary" value="Submit for Library"/>
                <input type="submit" name="del_btn" formaction="{% url 'sample:delete' %}" class="btn btn-primary" value="Delete"/>
            </div>
        </div>

    </form>
</div>

{% endblock %}