{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}

{% block head_title %}| Select Sample{% endblock %}

{% block content %}

<!--Title-->
<div class="row">
    <div class="col-sm-12">
        <h1>{{ title }}</h1>
    </div>
</div>


<!--Form-->

<div>
    <form method="POST" action="">{% csrf_token %}
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-3">
                <h3>{{ title_s }}</h3>
                {{ form|crispy }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-1"></div>
            <div class="col-xs-11 col-md-11">
                <input type="submit" name="del_btn" class="btn btn-primary" value="Delete Sample"/>
                <input type="submit" name="edit_btn" class="btn btn-primary" value="Edit Sample"/>
                <input type="submit" name="add_btn" class="btn btn-primary" value="Add Sample"/>
            </div>
        </div>
    </form>
</div>




<!--Table-->
<div class="row">
    <div class="col-sm-6"></div>
</div>

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-11">
        {% if table == 'n/a' %}
        {% else %}
            {% render_table table %}
        {% endif %}
    </div>
</div>
<br>

{% endblock %}
