<div class="row">
    <div class="col-xs-2 col-md-1"></div>
    <div class="col-xs-5 btn-group" role="group" aria-label="Basic example">
                <a href="{% url full_url %}" class="btn btn-default">{{ full_name }}</a>
                <a href="{% url parent_url %}" class="btn btn-default">{{ parent_name }}</a>
                <a href="{% url child_url %}" class="btn btn-default">{{ child_name }}</a>
    </div>
    <div class="col-xs-5 btn-group" role="group" aria-label="Basic example">
                <a href="{% url basic_url %}" class="btn btn-default">Basic</a>
                <a href="{% url advanced_url %}" class="btn btn-default">Advanced</a>
    </div>
</div>