{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head_title %}| New Sample{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form method="POST" action="">{% csrf_token %}
            {% render_table table %} <br>
            <input type="submit" name="del_btn" class="btn btn-primary" value="Delete Sample"/>
            <input type="submit" name="no_btn" class="btn btn-primary" value="Don't Delete Sample"/>
        </form>
    </div>
</div>
<br>
{% endblock %}