    <!-- Static navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home:index' %}">Talk LIMS</a>
    </div>
      <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Start New Project</a></li>
                  <li><a href="#">View Project Funding</a></li>
                  <li><a href="#">View Project Status</a></li>
              </ul>
          </li> <!--project status-->

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Repository<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'sample:add' %}">Add New Sample</a></li>
                  <li><a href="{% url 'sample:browser' %}">Browse/Select Samples</a></li>
                  <li><a href="#">Archive/Move Samples</a></li>
              </ul>
          </li> <!--sample archiving-->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample Processing<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'library:add' %}">Plate Setup</a></li>
                  <li><a href="#">Processing</a></li>
                  <li><a href="#">Validation</a></li>
                  <li><a href="#">Pooling</a></li>
                  <li><a href="#">Submission</a></li>
              </ul>
          </li> <!--sample processing-->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sequencing<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Counts</a></li>
                  <li><a href="#">Pre-Alignment QC</a></li>
                  <li><a href="#">Post-Alignment QC</a></li>
              </ul>
          </li> <!--sequencing-->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Query DB<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">SQL</a></li>
                  <li><a href="#">JSON</a></li>
                  <li><a href="#">DB Structure</a></li>
              </ul>
          </li> <!--query db-->
          <li class="inactive"><a href="#">About</a></li><!--about-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li><a href="#"><span class="glyphicon glyphicon-user"></span>Logout </a></li>
          {% else %}
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register </a></li>
          {% endif %}
      </ul><!--login-->
  </div>
</nav>
