{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}| Welcome{% endblock %}

{% block content %}

<h1>Welcome to Talk LIMS</h1>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <h1>{{ title }}</h1>

        <form method="POST" action="" encrypt="multipart/form-data">{% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form|crispy }}
            {% endfor %}
            <!--{{ formset|crispy }}-->
            <!--<input type="submit" value="Save" />-->
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
</div>

<div>
    <form method="POST" action="">{% csrf_token %}
        <div class="row">
            {% crispy form %}
          </div>
    </form>
</div>

<div>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
</div>


{% endblock %}